@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="" class="h1"><b>Admin</b>LTE</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Reset password for TopNews</p>
            @if (@ViewBag.AuthError != null)
            {
                <span class="text-danger">@ViewBag.AuthError</span>
            }
            <form method="post" asp-action="ResetPassword">
                <div class="input-group mb-3">
                    <input type="hidden" name="email" required value="@ViewBag.Email">
                    <input type="hidden" name="token" required value="@ViewBag.Token">
                    <input type="password" name="Password" required class="form-control" placeholder="New Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="ConfirmPassword" required class="form-control" placeholder="Confirm new Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-6">
                        <button type="submit" class="btn btn-primary btn-block">Reset password</button>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <p class="float-right">
                            <a asp-action="Login">Login</a>
                        </p>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>